body{
    background-image: url('bg.jpg');
}
.information{
    width: 960px;
    height: auto;
    margin: 0 auto;
    color: white;
    font-family: consolas;
}
.information .box {
    display: flex;
    justify-content: space-around;
    
    text-align: center;
}