body{
    background-image: linear-gradient(to right, rgb(144, 192, 144), rgb(152, 228, 152),rgb(71, 138, 71));
    
}
.layer1 a img {
    width: 100%;
}
.text1{
    position: absolute;
    top: 0px;
    left: 0px;
}